<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>app.atta.alfred</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>1C5F8B22-0203-411F-B1B9-02550071D9FF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8329808E-E6C5-4F4D-A734-17F42BE4F405</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F729AB1D-DB8A-486E-86B4-DE0E01092BA4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7450A68A-1A4E-4D98-AA25-B444D072E38F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>26CD270C-55DD-42F2-B9A7-C07BC43D627C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F49E83BD-DACF-42E7-9DFE-37934BF52E61</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>9A37A057-603B-4211-BF1F-15E83A1819D8</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>374E5A68-1EC5-4C4B-9B68-AAD82E359160</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>278EA840-F934-426B-8273-934ADF4676B9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>32AC4E08-866E-4724-B41A-AAC8167C415C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>32AC4E08-866E-4724-B41A-AAC8167C415C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>26CD270C-55DD-42F2-B9A7-C07BC43D627C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>22299E4C-2DA4-4270-90D0-BC55053DD221</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>894F0AE7-97DA-4007-9903-CE64D84907B5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3BA38398-2266-4718-AAB3-91142449916F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D7001DE8-27F5-41C0-93B3-D8282B029029</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B9C50AEC-5EF8-40AE-A48C-7A44E6F8ACE9</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy to clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>519A2571-634A-48A7-B856-28343CC6972A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8329808E-E6C5-4F4D-A734-17F42BE4F405</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F729AB1D-DB8A-486E-86B4-DE0E01092BA4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7450A68A-1A4E-4D98-AA25-B444D072E38F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>66DDC834-30F1-4D0E-9526-E2D74B996E4E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>32AC4E08-866E-4724-B41A-AAC8167C415C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8ACC07FF-551F-4644-8EB0-7366A4557AC1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D7001DE8-27F5-41C0-93B3-D8282B029029</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy to clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B9C50AEC-5EF8-40AE-A48C-7A44E6F8ACE9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Omar Chehab (@oac)</string>
	<key>description</key>
	<string>Company workflows for GitHub, Linear, Vercel, Figma, and Loom</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Atta</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>fv</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>${NODE_PATH:-node} ./src/root-filter.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>The analytics platform built for humans.</string>
				<key>title</key>
				<string>Atta</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3BA38398-2266-4718-AAB3-91142449916F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:url}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D7001DE8-27F5-41C0-93B3-D8282B029029</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>B9C50AEC-5EF8-40AE-A48C-7A44E6F8ACE9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>at</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>${NODE_PATH:-node} ./src/root-filter.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>The analytics platform built for humans.</string>
				<key>title</key>
				<string>Atta</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8ACC07FF-551F-4644-8EB0-7366A4557AC1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Hero</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>F49E83BD-DACF-42E7-9DFE-37934BF52E61</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>${NODE_PATH:-node} ./src/create-linear-issue-mutation.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>32AC4E08-866E-4724-B41A-AAC8167C415C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>fv</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>${NODE_PATH:-node} ./src/create-linear-issue-filter.js "$1"
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Create Linear issue</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>278EA840-F934-426B-8273-934ADF4676B9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>\w+-\d+</string>
						<key>outputlabel</key>
						<string>success</string>
						<key>uid</key>
						<string>9A37A057-603B-4211-BF1F-15E83A1819D8</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>fail</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>26CD270C-55DD-42F2-B9A7-C07BC43D627C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Basso</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>374E5A68-1EC5-4C4B-9B68-AAD82E359160</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>at</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>${NODE_PATH:-node} ./src/create-linear-issue-filter.js "$1"
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Create Linear issue</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>66DDC834-30F1-4D0E-9526-E2D74B996E4E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>New issue</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>22299E4C-2DA4-4270-90D0-BC55053DD221</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Hero</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>8329808E-E6C5-4F4D-A734-17F42BE4F405</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>fv vc env</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading... (~15s)</string>
				<key>script</key>
				<string>${NODE_PATH:-node} ./src/vercel-get-env.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Download Vercel env vars</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1C5F8B22-0203-411F-B1B9-02550071D9FF</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>894F0AE7-97DA-4007-9903-CE64D84907B5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>at vc env</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading... (~15s)</string>
				<key>script</key>
				<string>${NODE_PATH:-node} ./src/vercel-get-env.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Download Vercel env vars</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>519A2571-634A-48A7-B856-28343CC6972A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>F729AB1D-DB8A-486E-86B4-DE0E01092BA4</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Copied .env to clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7450A68A-1A4E-4D98-AA25-B444D072E38F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Atta Alfred Workflow

An Alfred workflow for quick access to Atta's Linear issues, GitHub pull requests, Vercel deployments+secrets, and Figma comments.

## Required Configuration

- **GitHub Personal access tokens**:
  - Generate new token with max expiry, owned by Fastview-AI, with access to fastview-ai/sparrow-ml repository
  - Request GitHub org admin for approval
  - https://github.com/settings/tokens

- **Linear Personal API Key**:
  - Generate an API Key from **Linear &gt; Settings &gt; Account &gt; Security &amp; Access &gt; Personal API Key**
  - https://linear.app/fastview/settings/account/security/api-keys/new

- **Vercel Token**:
  - Generate a token from **Vercel &gt; Settings &gt; Tokens**
  - https://vercel.com/account/settings/tokens

- **Figma Personal Access Token**:
  - Generate a personal access token **Figma &gt; Profile / Settings &gt; Security tab &gt; Personal Access Token**
  - https://figma.com/

- [experimental] **Loom Cookie**:
  - Copy the connect.sid value from Chrome Dev Tools Network tab, unsure what the expiry is on this.
  - https://loom.com/

### GitHub Fine Grained Token (Alternative steps)

(alternatively, but requires permission from admin) Fine grained token
✅ Token name: Alfred
✅ Resource owner: fastview-ai
✅ Expiration: max (1yr)

Only select repositories
✅ fastview-ai/sparrow-ml

Repository permissions
✅ Pull requests &gt; Read-only

### Development

This workflow uses Node.js for script execution. By default it uses `node` command but you can change it by setting the `NODE_PATH` variable.

## Features

### Quick Navigation
- `fv` - Shows a list of searchable resources
- `fv ln` - Searches Linear issues by issue identifier or title
- `fv gh` - Searches GitHub pull requests by branch name or title
- `fv vc` - Searches Vercel deployments by branch name or title
- `fv fg` - Searches Figma comments by content
- `fv lm` - Searches Loom videos by title

### Environment Variables
- `fv vc env &lt;prod|dev|preview&gt;` - Copies environment variables from Vercel formatted for your .env file

The environment variables are formatted as a .env file and copied to your clipboard.

### Issue Creation

- `fv &lt;title&gt; -team -project -assignee -priority` - Create a new Linear issue and posts a system notification with the new ticket number
  - Example: `fv Fix authentication bug -p1`
  - Example: `fv -eng -canvas -oac -p1 Fix authentication bug`

- Enable notifications in MacOS settings and ensure Alfred is allowed during Focus mode

## Author

Created by Omar Chehab (@oac)</string>
	<key>uidata</key>
	<dict>
		<key>1C5F8B22-0203-411F-B1B9-02550071D9FF</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>545</real>
		</dict>
		<key>22299E4C-2DA4-4270-90D0-BC55053DD221</key>
		<dict>
			<key>xpos</key>
			<real>625</real>
			<key>ypos</key>
			<real>445</real>
		</dict>
		<key>26CD270C-55DD-42F2-B9A7-C07BC43D627C</key>
		<dict>
			<key>xpos</key>
			<real>495</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>278EA840-F934-426B-8273-934ADF4676B9</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>32AC4E08-866E-4724-B41A-AAC8167C415C</key>
		<dict>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>374E5A68-1EC5-4C4B-9B68-AAD82E359160</key>
		<dict>
			<key>xpos</key>
			<real>625</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>3BA38398-2266-4718-AAB3-91142449916F</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>519A2571-634A-48A7-B856-28343CC6972A</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>650</real>
		</dict>
		<key>66DDC834-30F1-4D0E-9526-E2D74B996E4E</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>395</real>
		</dict>
		<key>7450A68A-1A4E-4D98-AA25-B444D072E38F</key>
		<dict>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>755</real>
		</dict>
		<key>8329808E-E6C5-4F4D-A734-17F42BE4F405</key>
		<dict>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>545</real>
		</dict>
		<key>894F0AE7-97DA-4007-9903-CE64D84907B5</key>
		<dict>
			<key>xpos</key>
			<real>625</real>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>8ACC07FF-551F-4644-8EB0-7366A4557AC1</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>B9C50AEC-5EF8-40AE-A48C-7A44E6F8ACE9</key>
		<dict>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>D7001DE8-27F5-41C0-93B3-D8282B029029</key>
		<dict>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>F49E83BD-DACF-42E7-9DFE-37934BF52E61</key>
		<dict>
			<key>xpos</key>
			<real>625</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>F729AB1D-DB8A-486E-86B4-DE0E01092BA4</key>
		<dict>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>650</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>ghp_</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Tokens (classic)
✅ Token name: Alfred
✅ Expiry: none
✅ repo: Full control of private repositories

You can also do fine grained token, see readme</string>
			<key>label</key>
			<string>GitHub Personal Access Token</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>GITHUB_API_KEY</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>lin_api_</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Only select permissions...
✅ Read
✅ Create issues

Scope
✅ All teams your have access to</string>
			<key>label</key>
			<string>Linear API Key</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>LINEAR_API_KEY</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>✅ Token Name: alfred
✅ Scope: fastviewai
✅ Expiration: No Expiration</string>
			<key>label</key>
			<string>Vercel Token</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>VERCEL_API_KEY</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>figd_</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>✅ Set expiry to max.
✅ Scope: Comments: Read-only</string>
			<key>label</key>
			<string>Figma Personal Access Token</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>FIGMA_API_KEY</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Loom doesn't have a public API yet so we can call their web app's graphql API using your browser session ID.

Open Loom -&gt; dev tools -&gt; network -&gt; graphql -&gt; cookies -&gt; copy connect.sid's value between = and ; for example connect.sid=ABC123; you copy ABC123

✅ connect.sid</string>
			<key>label</key>
			<string>Loom connect.sid</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>LOOM_CONNECT_SID</string>
		</dict>
	</array>
	<key>variables</key>
	<dict>
		<key>CACHE_POLICY</key>
		<string>cache-only</string>
		<key>DRY_RUN</key>
		<string>0</string>
		<key>FIGMA_FILE</key>
		<string>lOPMkYrHGieCZLRbzLyoZ5</string>
		<key>FIGMA_TEAM</key>
		<string>1492523426390454753</string>
		<key>GITHUB_REPO</key>
		<string>fastview-ai/sparrow-ml</string>
		<key>LINEAR_TEAM</key>
		<string>fastview</string>
		<key>NODE_PATH</key>
		<string>/Users/oac/.nvm/versions/node/v22.14.0/bin/node</string>
		<key>OFFLINE</key>
		<string>0</string>
		<key>VERCEL_PROJECT</key>
		<string>fastviewai/sparrow-ml</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>DRY_RUN</string>
		<string>OFFLINE</string>
		<string>NODE_PATH</string>
	</array>
	<key>version</key>
	<string>8</string>
	<key>webaddress</key>
	<string>https://github.com/fastview-ai/atta-alfred</string>
</dict>
</plist>
